Repository espressif/esp-hosted-mcu: changes, and which pre-commit hooks are due for each by the changed paths.
All: changelog-checker, esp-weak-function-checker

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: version-checker
      name: ESP-Hosted Version Checker
      entry: tools/check_fw_versions.py
      language: python
      args: [ "--update" ]
      always_run: true
      pass_filenames: false
    - id: rpc-checker
      name: ESP-Hosted RPC Checker
      entry: tools/check_rpc_calls.py
      language: python
      always_run: true
      pass_filenames: false
    - id: changelog-checker
      name: ESP-Hosted Changelog Checker
      entry: tools/check_changelog.py
      language: python
      files: ^idf_component.yml$
    - id: esp-weak-function-checker
      name: ESP-Hosted Weak Function Checker
      entry: tools/check_weak_functions.py
      language: python
      args:
        - "--file"
        - "host/api/src/esp_wifi_weak.c"
        # add more files/functions like in below:
        # - "--file"
        # - "host/api/src/esp_extra_weak.c"
        # - "--functions"
        # - "esp_extra_foo,esp_extra_bar"
      files: ^host/api/src/.*\.c$
      pass_filenames: false
  - repo: https://github.com/espressif/check-copyright/
    rev: v1.1.1
    hooks:
      - id: check-copyright
        args: ['--config', 'tools/check_copyright_config.yaml']

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [--config=.codespellrc]

fix(board): Correct GPIOs for ESP32-P4-Eye board with onboard esp32-c6 slave
  CHANGELOG.md
  Kconfig
  README.md
  slave/main/Kconfig.projbuild
Due: none

fix(changelog): Make consistent labels in the changelog
  CHANGELOG.md
  docs/implemented_rpcs.md
  tools/check_changelog.py
Due: none

Release: 2.12.0
  host/esp_hosted_host_fw_ver.h
  idf_component.yml
  slave/main/esp_hosted_coprocessor_fw_ver.h
Due: changelog-checker

kconfig: allow ESP_HOSTED_ENABLED to be explicitly disabled via menuconfig
  Kconfig
Due: none

feature(bt_only): Support BT only SOCs, option to disable Wi-Fi
  .gitlab/ci/sanity_pipeline_jobs.yml
  .gitlab/ci/templates.yml
  CHANGELOG.md
  Kconfig
  docs/esp32_p4_function_ev_board.md
  host/drivers/transport/transport_drv.c
  host/drivers/transport/transport_drv.h
  host/port/esp/freertos/include/port_esp_hosted_host_bt_config.h
  host/port/esp/freertos/include/port_esp_hosted_host_config.h
  slave/main/CMakeLists.txt
  slave/main/Kconfig.projbuild
  slave/main/esp_hosted_coprocessor.c
  slave/main/slave_bt.h
  slave/main/slave_control.c
  slave/main/slave_control.h
  slave/main/slave_network_split.c
  slave/main/slave_network_split.h
  slave/main/slave_wifi_enterprise.c
  slave/main/slave_wifi_enterprise.h
  slave/main/slave_wifi_std.c
  slave/main/slave_wifi_std.h
  slave/partitions.esp32h2.csv
  slave/partitions.esp32h4.csv
  slave/sdkconfig.defaults.esp32h2
  slave/sdkconfig.defaults.esp32h4
  slave/sdkconfig.rename
Due: none

feature(bt_only_fix): Fix CI build for ESP32-C2
  slave/sdkconfig.defaults.esp32c2
Due: none

feature(bt_only_fix_2) Fix setting of co-processor in CI
  .gitlab/ci/templates.yml
  docs/esp32_p4_function_ev_board.md
  docs/performance_optimization.md
Due: none

Fixes https://github.com/espressif/esp-hosted-mcu/issues/165
  slave/main/slave_control.c
Due: none

feat(ext_coex): Add support to handle slave external co-ex from host - host_manage_copro_ext_coex added
  CHANGELOG.md
  Kconfig
  common/proto/esp_hosted_rpc.pb-c.c
  common/proto/esp_hosted_rpc.pb-c.h
  common/proto/esp_hosted_rpc.proto
  docs/implemented_rpcs.md
  examples/host_manage_copro_ext_coex/CMakeLists.txt
  examples/host_manage_copro_ext_coex/README.md
  examples/host_manage_copro_ext_coex/main/CMakeLists.txt
  examples/host_manage_copro_ext_coex/main/idf_component.yml
  examples/host_manage_copro_ext_coex/main/main.c
  examples/host_manage_copro_ext_coex/sdkconfig.defaults
  host/api/include/esp_hosted_cp_ext_coex.h
  host/drivers/rpc/core/rpc_req.c
  host/drivers/rpc/core/rpc_rsp.c
  host/drivers/rpc/slaveif/rpc_slave_if.c
  host/drivers/rpc/slaveif/rpc_slave_if.h
  host/drivers/rpc/wrap/rpc_wrap.c
  host/drivers/rpc/wrap/rpc_wrap.h
  host/esp_hosted.h
  host/port/esp/freertos/include/port_esp_hosted_host_config.h
  slave/main/CMakeLists.txt
  slave/main/Kconfig.projbuild
  slave/main/mempool.h
  slave/main/protocomm_pserial.h
  slave/main/slave_control.c
  slave/main/slave_control.h
  slave/main/slave_ext_coex.c
  slave/main/slave_ext_coex.h
  slave/main/slave_gpio_expander.c
  slave/main/slave_gpio_expander.h
  slave/main/slave_gpio_extender.h
  slave/main/slave_transport_gpio_pin_guard.c
  slave/main/slave_transport_gpio_pin_guard.h
  slave/main/spi_slave_api.c
  slave/main/stats.c
  slave/sdkconfig.defaults.esp32s2
Due: none

Release: 2.12.1
  CHANGELOG.md
  host/esp_hosted_host_fw_ver.h
  idf_component.yml
  slave/main/esp_hosted_coprocessor_fw_ver.h
Due: changelog-checker

fix(slave_target_string): Add slave string to Kconfig
  CHANGELOG.md
  Kconfig
Due: none

fix(ota): correct image size calculation for SHA256 hash padding
  examples/host_performs_slave_ota/components/ota_partition/ota_partition.c
Due: none

feat(gpio-expander): add GPIO interrupt (ISR) forwarding to host
  Kconfig
  common/proto/esp_hosted_rpc.pb-c.c
  common/proto/esp_hosted_rpc.pb-c.h
  common/proto/esp_hosted_rpc.proto
  examples/host_gpio_expander/main/host_gpio_expander_example.c
  host/api/include/esp_hosted_cp_gpio.h
  host/drivers/rpc/core/rpc_evt.c
  host/drivers/rpc/core/rpc_req.c
  host/drivers/rpc/core/rpc_rsp.c
  host/drivers/rpc/slaveif/rpc_slave_if.c
  host/drivers/rpc/slaveif/rpc_slave_if.h
  host/drivers/rpc/wrap/rpc_wrap.c
  slave/main/slave_control.c
  slave/main/slave_gpio_expander.c
  slave/main/slave_gpio_expander.h
  slave/sdkconfig.defaults.esp32c6
Due: none

fix(slave_target_string): Add esp_hosted_get_cp_info
  common/proto/esp_hosted_rpc.pb-c.c
  common/proto/esp_hosted_rpc.pb-c.h
  common/proto/esp_hosted_rpc.proto
  examples/host_bt_controller_mac_addr/main/main.c
  host/api/include/esp_hosted_api_types.h
  host/api/src/esp_hosted_api.c
  host/drivers/rpc/core/rpc_rsp.c
  host/drivers/rpc/slaveif/rpc_slave_if.h
  host/drivers/rpc/wrap/rpc_wrap.c
  host/drivers/rpc/wrap/rpc_wrap.h
  host/esp_hosted.h
  slave/main/slave_control.c
Due: esp-weak-function-checker

fix(slave_target_string): Updated CHANGELOG, bump version
  CHANGELOG.md
  host/esp_hosted_host_fw_ver.h
  idf_component.yml
  slave/main/esp_hosted_coprocessor_fw_ver.h
Due: changelog-checker

bugfix(esp_wifi_scan_get_ap_records): Bugfix in esp_wifi_scan_get_ap_records
  host/drivers/rpc/wrap/rpc_wrap.c
Due: none

bugfix(esp_wifi_scan_get_ap_records): Updated CHANGELOG, bumped version
  CHANGELOG.md
  host/esp_hosted_host_fw_ver.h
  idf_component.yml
  slave/main/esp_hosted_coprocessor_fw_ver.h
Due: changelog-checker

enhance(param_checking): Check for valid parameters
  CHANGELOG.md
  host/drivers/rpc/wrap/rpc_wrap.c
Due: none

Add option for restarting radio using callback function
  Kconfig
  host/drivers/power_save/power_save_drv.c
  host/drivers/transport/sdio/sdio_drv.c
  host/drivers/transport/spi/spi_drv.c
  host/drivers/transport/spi_hd/spi_hd_drv.c
  host/drivers/transport/uart/uart_drv.c
  host/esp_hosted_os_abstraction.h
  host/port/esp/freertos/include/port_esp_hosted_host_config.h
  host/port/esp/freertos/src/port_esp_hosted_host_os.c
Due: none

bugfix(build_mempool): Fix build error cause by mempool
  CHANGELOG.md
  slave/main/Kconfig.projbuild
  slave/main/mempool.c
  slave/main/mempool.h
  slave/main/mempool_ll.c
  slave/main/mempool_ll.h
  slave/main/sdio_slave_api.c
  slave/main/spi_hd_slave_api.c
  slave/main/spi_slave_api.c
  slave/main/uart_slave_api.c
  slave/sdkconfig.rename
Due: none

enhance(common_mempool): Used common mempool for host and co-processor
  CHANGELOG.md
  CMakeLists.txt
  Kconfig
  common/mempool/include/mempool.h
  common/mempool/mempool.c
  common/mempool/mempool_ll.c
  common/mempool/mempool_ll.h
  common/transport/esp_hosted_transport.h
  host/drivers/mempool/CMakeLists.txt
  host/drivers/mempool/mempool.c
  host/drivers/mempool/mempool.h
  host/drivers/transport/sdio/sdio_drv.c
  host/drivers/transport/spi/spi_drv.c
  host/drivers/transport/spi_hd/spi_hd_drv.c
  host/drivers/transport/transport_drv.c
  host/drivers/transport/transport_drv.h
  host/drivers/transport/transport_util.c
  host/drivers/transport/transport_util.h
  host/drivers/transport/uart/uart_drv.c
  host/port/esp/freertos/include/port_esp_hosted_host_config.h
  host/port/esp/freertos/include/port_esp_hosted_host_os.h
  host/utils/stats.c
  slave/main/CMakeLists.txt
  slave/main/memdump.h
  slave/main/mempool.c
  slave/main/mempool.h
  slave/main/mempool_ll.c
  slave/main/sdio_slave_api.c
  slave/main/slave_config.h
  slave/main/slave_util.c
  slave/main/slave_util.h
  slave/main/spi_hd_slave_api.c
  slave/main/spi_slave_api.c
  slave/main/uart_slave_api.c
Due: none

feat(custom_msg): add user context to custom callbacks (API change)
  CHANGELOG.md
  docs/migration_guide.md
  examples/host_peer_data_transfer/main/peer_data_example.c
  host/drivers/rpc/core/rpc_core.h
  host/drivers/rpc/core/rpc_evt.c
  host/drivers/rpc/slaveif/rpc_slave_if.c
  host/drivers/rpc/slaveif/rpc_slave_if.h
  host/drivers/rpc/wrap/rpc_wrap.c
  host/esp_hosted_misc.h
  slave/main/esp_hosted_peer_data.h
  slave/main/example_peer_data_transfer.c
  slave/main/slave_control.c
Due: none

bugfix(cp_spi_hd) Fix build for SPI-HD with 2 data lines
  CHANGELOG.md
  host/esp_hosted_host_fw_ver.h
  idf_component.yml
  slave/main/esp_hosted_coprocessor_fw_ver.h
  slave/main/slave_transport_gpio_pin_guard.c
Due: changelog-checker

bugfix(cp_spi_hd): Remove building component mqtt/tcp from CI pipeline
  .gitlab/ci/regression_pipeline_jobs.yml
  .gitlab/ci/sanity_pipeline_jobs.yml
Due: none

bugfix(ci_esp32): Fixed CI for building ESP32 as co-processor
  CHANGELOG.md
  slave/main/spi_slave_api.c
  slave/main/uart_slave_api.c
  slave/sdkconfig.ci.spi
  slave/sdkconfig.ci.uart
  slave/sdkconfig.defaults.esp32
Due: none

feature(ci_mqtt): Update CI for mqtt, IDF branches
  .gitlab/ci/regression_pipeline_jobs.yml
  .gitlab/ci/sanity_pipeline_jobs.yml
  .gitlab/ci/templates.yml
  CHANGELOG.md
  examples/host_bluedroid_ble_compatibility_test/main/idf_component.yml
  examples/host_bluedroid_bt_hid_mouse_device/main/idf_component.yml
  examples/host_bluedroid_host_only/main/idf_component.yml
  examples/host_bt_controller_mac_addr/main/idf_component.yml
  examples/host_gpio_expander/main/idf_component.yml
  examples/host_hosted_cp_meminfo/main/idf_component.yml
  examples/host_hosted_events/main/idf_component.yml
  examples/host_manage_copro_ext_coex/main/idf_component.yml
  examples/host_network_split__power_save/main/idf_component.yml
  examples/host_nimble_bleprph_host_only_uart_hci/main/idf_component.yml
  examples/host_nimble_bleprph_host_only_vhci/main/idf_component.yml
  examples/host_peer_data_transfer/main/idf_component.yml
  examples/host_performs_slave_ota/main/idf_component.yml
  examples/host_sdcard_with_hosted/main/idf_component.yml
  examples/host_shuts_down_slave_to_power_save/main/idf_component.yml
  examples/host_transport_config/main/idf_component.yml
  examples/host_wifi_easy_connect_dpp_enrollee/main/idf_component.yml
  examples/host_wifi_itwt/main/idf_component.yml
Due: none

fix(ota): add padding before SHA256 hash in image size calculation
  CHANGELOG.md
  examples/host_performs_slave_ota/components/ota_partition/ota_partition.c
  examples/host_shuts_down_slave_to_power_save/main/main.c
  host/drivers/rpc/wrap/rpc_wrap.c
Due: none

feat(coex): allow external coexistence with BT on advanced coex chips
  slave/main/Kconfig.projbuild
  slave/main/slave_ext_coex.h
Due: none

chore: bump version to 2.12.5, update changelog
  CHANGELOG.md
  host/esp_hosted_host_fw_ver.h
  idf_component.yml
  slave/main/esp_hosted_coprocessor_fw_ver.h
Due: changelog-checker

fix(mempool): make TAG static
  CHANGELOG.md
  common/mempool/mempool.c
  host/esp_hosted_host_fw_ver.h
  idf_component.yml
  slave/main/esp_hosted_coprocessor_fw_ver.h
Due: changelog-checker

fix(sdio): gracefully drop packets on RX mempool exhaustion
  host/drivers/transport/sdio/sdio_drv.c
Due: none

fix(sdio): throttle RX mempool drop log to burst start/recovery
  host/drivers/transport/sdio/sdio_drv.c
Due: none

嵌入式的架构设计模式： - 嵌入式跨平台只有一个核心问题：片上外设和 OS 原语没有标准，但上层逻辑是一样的。
  AGENTS.md
  CLAUDE.md
  docs/felix/2.Kconfig从理论到实践详解.md
  docs/felix/3.嵌入式跨平台设计模式.md
  docs/felix/4.ESP-Hosted Host 通用移植架构设计.md
  docs/felix/非ESP平台移植指南.md
Due: none

bugfix(cmake): Remove non-ASCII characters from CMake file
  CHANGELOG.md
  CMakeLists.txt
Due: none

文档先行
  docs/felix/3.嵌入式跨平台设计模式.md
  docs/felix/4.ESP-Hosted Host 通用移植架构设计.md
  docs/felix/5.核心层重构实施计划.md
  docs/felix/6.Port适配实施计划.md
  docs/felix/7.CI与验证实施计划.md
Due: none

chore: add .worktrees/ to .gitignore
  .gitignore
Due: none

rpc: log WIFI_PS_NONE as "None", not "Invalid"
  host/drivers/rpc/wrap/rpc_wrap.c
Due: none

chore: ignore macOS metadata files
  .gitignore
Due: none

bugfix(mempool_build_break): Fix build break with PicolibC
  CHANGELOG.md
  common/mempool/include/mempool.h
Due: none

feat(core): add RPC core/req/rsp/evt/utils migrated files
  host/core/src/h_rpc_core.c
  host/core/src/h_rpc_evt.c
  host/core/src/h_rpc_req.c
  host/core/src/h_rpc_rsp.c
  host/core/src/h_rpc_utils.c
  scripts/check_core_isolation.sh
Due: none
